@model Question

@{
    ViewData["Title"] = "Details";
}

@*<h2>Details</h2>*@

<div>
    <h4>Question</h4>

    <div class="jumbotron">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
        <div class="well">
            <p>@Html.DisplayFor(model => model.MessageContent)</p>
        </div>
        <div class="help-block">

            <div class="col-xs-6 col-md-3"> asked by @Html.DisplayFor(model => model.UserId)</div>
        </div>
        <h2>@Html.DisplayFor(Model  => Model.Reply) </h2>
    </div>
    <div class="container">
        <div class="col-md-4">
            
           

        </div>
    </div>

    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Anonymous)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Anonymous)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MessageContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MessageContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatePosted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatePosted)
        </dd>
    </dl>*@
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<html>
<head>
    <script>
        function confirmInput() {
            fname = document.forms[0].fname.value;
            return fname
        }
    </script>
</head>

<body>
    <form method = "get" action="@Url.Action("Details", "Questions")">
        Answer to question: <input id="fname" type="text" size="20">
        <input type="hidden" value="@Model.Id" name="qid" />
        <input type="submit">
    </form>
</body>

</html>