@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model Question

@{
    ViewData["Title"] = "Details";
}

<div class="container-fluid">

    <h1 class="page-header"></h1>

    <div class="row">
        <div class="col-md-1">
            <div class="help-block">
                <a class="btn btn-default" asp-action="Index">Back to List</a>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        @Html.DisplayFor(model => model.Title)
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-md-1">
                                    <div class="btn-group-vertical" role="group" aria-label="...">
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <a asp-action="Details" asp-route-id="@Html.ViewData.Model.Id" asp-route-qHelpful="1" class="btn btn-default" title="Helpful">
                                                <span class="glyphicon glyphicon-thumbs-up" style="color: green"></span> <span class="badge">@Html.ViewData.Model.Analytic.Helpful</span>
                                            </a>

                                            <a asp-action="Details" asp-route-id="@Html.ViewData.Model.Id" asp-route-qHelpful="-1" class="btn btn-default" title="Helpful">
                                                <span class="glyphicon glyphicon-thumbs-down" style="color: red"></span> <span class="badge">@Html.ViewData.Model.Analytic.UnHelpful</span>
                                            </a>
                                        }
                                    </div>
                                </div>
                                <div class="col-md-10">

                                    <div class="well">
                                        <p>@Html.DisplayFor(model => model.MessageContent)</p>
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-6 col-xs-offset-1">
                                    <p>asked by @Html.DisplayFor(model => model.UctNumber) on @Html.DisplayFor(model => model.DatePosted.Date)</p>
                                </div>
                            </div>
                        </div>

                        <div class="list-group-item">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <form asp-action="Details">
                                        <div class="input-group">
                                            <textarea id="replyBox" class="form-control" placeholder="Add your answer..." name="reply"></textarea>

                                            <span class="input-group-btn">
                                                <button class="btn btn-primary btn-lg" type="submit">
                                                    Reply
                                                </button>
                                            </span>

                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h1 class="panel-title">
                        Replies!
                    </h1>
                </div>
                <div class="panel-body">
                    <div class="list-group">

                        @{
                            for (var i = 0; i < Model.RepList.Count; i++)
                            {
                                <div class="list-group-item">
                                    <div class="row">
                                        <div class="col-md-1">
                                            <div class="btn-group-vertical" role="group" aria-label="...">
                                                @if (SignInManager.IsSignedIn(User))
                                                {
                                                    <a asp-action="Details" asp-route-id="@Html.ViewData.Model.RepList[i].QuestionId" asp-route-voteId="@Html.ViewData.Model.RepList[i].Id" asp-route-repHelpful="1" class="btn btn-default" title="Helpful">
                                                        <span class="glyphicon glyphicon-thumbs-up" style="color: green"></span> <span class="badge">@Html.ViewData.Model.RepList[i].Analytic.Helpful</span>
                                                    </a>

                                                    <a asp-action="Details" asp-route-id="@Html.ViewData.Model.RepList[i].QuestionId" asp-route-voteId="@Html.ViewData.Model.RepList[i].Id" asp-route-repHelpful="-1" class="btn btn-default" title="UnHelpful">
                                                        <span class="glyphicon glyphicon-thumbs-down" style="color: red"></span> <span class="badge">@Html.ViewData.Model.RepList[i].Analytic.UnHelpful</span>
                                                    </a>
                                                }
                                            </div>
                                        </div>
                                        <div class="col-md-10">

                                            <div class="well">
                                                <p>@Html.ViewData.Model.RepList[i].MessageContent</p>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-8 col-xs-offset-1">
                                            <p>answered by @Html.ViewData.Model.RepList[i].UctNumber on @Html.ViewData.Model.RepList[i].DatePosted</p>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>