@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@{
    if (SignInManager.IsSignedIn(User))
    {
        <a asp-action="Create">Create New</a>
    }

 
   
}


<table class="table">
    <thead>
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.Anonymous)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.MessageContent)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.UctNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatePosted)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Anonymous)
            </td>*@
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.MessageContent)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.UctNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>

            @{
                if (SignInManager.IsSignedIn(User)&& (await AuthorizationService.AuthorizeAsync(User, "Mentor")).Succeeded)
                {
                    <td>
                    <a asp-action="QuestionsEdit" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="QuestionsDetails" asp-route-id="@item.Id">Details</a>
                    <a asp-action="QuestionsDelete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
            }
          
        </tr>
    }
    </tbody>
</table>