@model IEnumerable<MentorWebApp.Models.Resource>
@{
    ViewData["Title"] = "Browse";
}


<h2>@ViewData["Title"]</h2>


<div class="row">
    <div class="col-md-4 ">

        <div id="imaginary_container">

            <div class="input-group col-md-12">
                <form method="get" action="@Url.Action("Index", "Resource")">
                <input type="text" name="search" id="search" class="search-query form-control" placeholder="Search resources">
                <span class="input-group-btn">
                    <button class="btn .btn-primary" type="submit">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                </form>
            </div>
        </div>
    </div>
</div>
<h4>Results</h4>
<div class="row">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <!--<div class="panel-heading">Panel heading</div>-->

        <!-- Table -->
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type)
                </th>
            </tr>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.Link)">@Html.DisplayFor(modelItem => item.Title)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
            
                </tr>
            }
            

        </table>
    </div>

</div>