@model SearchResult

@{
    ViewData["Title"] = "Index";
}

<h2>Search Results</h2>
<div class="form-horizontal">


    <div class="container">
        <div class="row form-group col-md-6 col-md-offset-3">


            <form method="get" action="@Url.Action("Index", "SearchResults")">

                <div class="input-group">
                    <input type="text" class="search-query form-control" placeholder="Search resources, ask a question" value="@ViewData.Model.searchVal" name="search">
                    <input type="hidden" name="sortSelect" value="@ViewData.Model.sortVal" />
                    <input type="hidden" name="typeSelect" value="@ViewData.Model.typeVal" />
                    <span class="input-group-btn">
                        <button class="btn .btn-primary" type="submit" id="searchButton">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>

            </form>
        </div>

        <div class="row">
            <form method="get" action="@Url.Action("Index", "SearchResults")">
                <label class="label">Sort: </label>
                <input type="hidden" id="search" name="search" value="@ViewData.Model.searchVal" />
                <select name="sortSelect">
                    <option value="alpha" selected="@(ViewData.Model.sortVal.Equals("alpha"))">A to Z</option>
                    <option value="alphaRev" selected="@(ViewData.Model.sortVal.Equals("alphaRev"))">Z to A</option>
                </select>

                <label class="label">Filter: </label>

                <select  name="typeSelect">
                    <option value="res" selected="@(ViewData.Model.typeVal.Equals("res"))">Resources Only</option>
                    <option value="ques" selected="@(ViewData.Model.typeVal.Equals("ques"))">Questions Only</option>
                    <option value="both" selected="@(ViewData.Model.typeVal.Equals("both"))">Both</option>
                </select>

                <input type="submit" class="btn-default" />
            </form>
        </div>
    </div>


</div>
<table class="table">
    <thead>
    <tr>
        <th>Title</th>
        <th>Posted by</th>
        <th>Date</th>
    </tr>
    </thead>

    <tbody>
    @for (var i = 0; i < Model.ResultsList.Count; i++)
    {
        <tr>
            <td>
                <a href="@Html.ViewData.Model.ResultsList[i][1]">@Html.ViewData.Model.ResultsList[i][0]</a>

            </td>
            <td>
               
            </td>
            
        </tr>
    }
    </tbody>
</table>