@model SearchResult

@{
    ViewData["Title"] = "Index";
}


<h1 class="page-header">Search Results</h1>
<div class="form-horizontal">


    <div class="container">
        <div class="row form-group">
            <form method="get" action="@Url.Action("Index", "SearchResults")">
            <div class="col-md-5">

                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search resources, ask a question" value="@ViewData.Model.searchVal" name="search">

                    <span class="input-group-btn">
                        <button class="btn .btn-primary" type="submit" id="searchButton">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
                <div class="col-md-5">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                            Sort By
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <li><a class="btn-link" asp-action="Index" asp-route-sortSelect="alpha" asp-route-search="@ViewData.Model.searchVal" asp-route-typeSelect="@ViewData.Model.typeVal">A to Z</a></li>
                            <li><a class="btn-link" asp-action="Index" asp-route-sortSelect="alphaRev" asp-route-search="@ViewData.Model.searchVal" asp-route-typeSelect="@ViewData.Model.typeVal">Z to A</a></li>
                            <li><a class="btn-link" asp-action="Index" asp-route-sortSelect="new" asp-route-search="@ViewData.Model.searchVal" asp-route-typeSelect="@ViewData.Model.typeVal">Newest First</a></li>
                            <li><a class="btn-link" asp-action="Index" asp-route-sortSelect="old" asp-route-search="@ViewData.Model.searchVal" asp-route-typeSelect="@ViewData.Model.typeVal">Oldest First</a></li>
                        </ul>
                    </div>

                    <select name="typeSelect">
                        <option value="res" selected="@(ViewData.Model.typeVal.Equals("res"))">Resources Only</option>
                        <option value="ques" selected="@(ViewData.Model.typeVal.Equals("ques"))">Questions Only</option>
                        <option value="both" selected="@(ViewData.Model.typeVal.Equals("both"))">Both</option>
                    </select>

                    <input type="submit" class="btn-default" />
                </div>
            </form>
        </div>
    </div>

</div>
<div class="panel panel-default">
    
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Title</th>
            </tr>
            </thead>
            <tbody>
            @{
                for (var i = 0; i < Model.ResultsList.Count; i++)
                {
                    <tr>
                        <td>
                            <form method="post" asp-action="RedirectToLink" asp-controller="SearchResults">
                                <input type="hidden" name="title" value="@Html.ViewData.Model.ResultsList[i][0]"/>
                                <input type="hidden" name="link" value="@Html.ViewData.Model.ResultsList[i][1]"/>
                                <input type="hidden" name="id" value="@Html.ViewData.Model.ResultsList[i][2]"/>
                                <input type="hidden" name="searchId" value="@Html.ViewData.Model.Id"/>
                                <input type="submit" class="btn-link" value="@Html.ViewData.Model.ResultsList[i][0]"/>
                            </form>

                        </td>
                    </tr>
                }
            }
            </tbody>
        </table>
    
</div>
@{

    if (Model.NoOfResults == 0)
    {
        <p>
            No Results found. Try <a href="@Url.Action("Index", "Questions")">asking a question instead.</a>
        </p>
    }
}