@model IEnumerable<Resource>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="ResourcesCreate">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tags)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateAdded)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UctNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tags)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateAdded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UctNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>


            <td>
                <a asp-action="ResourcesEdit" asp-route-id="@item.ResourceId">Edit</a> |
                <a asp-action="ResourcesDetails" asp-route-id="@item.ResourceId">Details</a> |
                <a asp-action="ResourcesDelete" asp-route-id="@item.ResourceId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>