@model IEnumerable<ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="UserCreate">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UctNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Permissions)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>


        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UctNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Permissions)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>


            <td>
                <a asp-action="UserEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="UserDetails" asp-route-id="@item.Id">Details</a> |
                <a asp-action="UserDelete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>